<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/default.css') }}">
</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Analyser</a></h1>
			<span>A DBMS Project</span>
		</div>
		<div id="triangle-up"></div>
	</div>
</div>
<div id="menu-wrapper">
		<div id="menu">
			<ul>
				<li><a href="home" accesskey="3" title="">home</a></li>
				<li class="current_page_item"><a href="sites" accesskey="1" title="">Websites</a></li>
				<li><a href="categories" accesskey="2" title="">Our Categorisation</a></li>
				
				<li><a href="modify" accesskey="4" title="">Modify</a></li>
			</ul>
		</div>
</div>
<div id="wrapper">
	<br><br>
	<center>
	<table>
	<form method = 'POST' action="{{url_for('analyserPage')}}">
		<tr>
	<td><h2>Categories:<h2></td>
	<td>&nbsp</td>
	<td><select name="category">
	  <option value="all">Select &emsp;&emsp;&emsp;&emsp;&nbsp&nbsp</option>		
  	  {% for row in categories %}
			<option value={{row[0]}}>{{row[1]}}</option>
		{% endfor %}
	</select></td>
		</tr>
		<tr>
		<td><h2>Filter:</h2></td>
	<td>&nbsp</td>
	<td><select name="filter">
	  		<option value="all">Select &emsp;&emsp;&emsp;&emsp;&nbsp&nbsp</option>
			<option value="price">Price</option>
			<option value="no_viewed">No of views</option>
			<option value="sales">Sales</option>
			<option value="sales_march">Sales March</option>
			<option value="sales_june">Sales June</option>
			<option value="sales_september">Sales September</option>
			<option value="sales_december">Sales December</option>
			<option value="rating">Rating</option>
			<option value="rating_march">Rating March</option>
			<option value="rating_june">Rating June</option>
			<option value="rating_september">Rating September</option>
			<option value="rating_december">Rating December</option>
		</select></td>
		</tr>
		<td><h2>Find:<h2></td>
		<td>&nbsp</td>
	<td><select name="find">
	  		<option value="all">Select &emsp;&emsp;&emsp;&emsp;&nbsp&nbsp</option>		
			<option value="max">Maximum</option>
			<option value="min">Minimum</option>
		</select></td>
		</tr>
		<tr>
		<td>&nbsp</td>
		<td>&nbsp</td>
		</tr>
		<tr>
		</table>
		<br><br>
		<input type="submit" name="Go" class="button1" role="button" value="Go">
		&emsp;
		<a href="items" class="button1" role="button">Back</a>
	</form>
	</center>
	<br><br><br>
</div>
<div id="stamp" class="container">
	<div class="hexagon"><span class="icon icon-wrench"></span></div>
</div>
<div id="copyright" class="container">
	<p>&copy; Animesh Mohan and Ch Ravi Raj. All rights reserved.</p>
</div>
</body>
</html>