<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/default.css') }}">

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Our Categorisation</a></h1>
			<span>A DBMS Project</span>
		</div>
		<div id="triangle-up"></div>
	</div>
</div>
<div id="menu-wrapper">
		<div id="menu">
			<ul>
				<li><a href="home" accesskey="2" title="">Home</a></li>
				<li class="current_page_item"><a href="sites" accesskey="1" title="">Websites</a></li>
				
				<li><a href="items" accesskey="3" title="">Items</a></li>
				<li><a href="modify" accesskey="4" title="">Modify</a></li>
			</ul>
		</div>
</div>
<div id="wrapper">
	<br><br><br>
	<center>
		<font size="5">
		<table border=1>
		<caption>Categories</caption>
		<tr>
			<th>Men</th>
			<th>Women</th>
			<th>Footwear</th>
			<th>Household</th>
			<th>Gadgets</th>
		</tr>
		{% for m,w,f,h,g in categories%}
			<tr>
				<td align="center">{{m}}</td>
				<td align="center">{{w}}</td>
				<td align="center">{{f}}</td>
				<td align="center">{{h}}</td>
				<td align="center">{{g}}</td>
			</tr>
		{% endfor %}
	</table>
	</font>
	</center>	
	<br><br><br>
</div>
<div id="stamp" class="container">
	<div class="hexagon"><span class="icon icon-wrench"></span></div>
</div>
<div id="copyright" class="container">
	<p>&copy; Animesh Mohan and Ch Ravi Raj. All rights reserved.</p>
</div>
</body>
</html>
