<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/default.css') }}">

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Modify<br></h1><h7>&nbsp&nbsp(insert)</h7><br></a>
			<span>A DBMS Project</span>
		</div>
		<div id="triangle-up"></div>
	</div>
</div>
<div id="menu-wrapper">
		<div id="menu">
			<ul>
		<li><a href="home" accesskey="4" title="">home</a></li>
				<li class="current_page_item"><a href="sites" accesskey="1" title="">Websites</a></li>
				<li><a href="categories" accesskey="2" title="">Our Categorisation</a></li>
				<li><a href="items" accesskey="3" title="">Items</a></li>
			
			</ul>
		</div>
</div>
<div id="wrapper">
	<br><br>
	<center>
	<form method = 'POST' action="{{url_for('insertPage')}}">
	<table>
	<tr>
	<td><h2>Sites:</h2></td>
	<td>&nbsp</td>
	<td><select name="site">
	  <option value="#">Select &emsp;&emsp;&emsp;&emsp;&nbsp&nbsp</option>	
  	  {% for row in sites %}
			<option value={{row[0]}}>{{row[1]}}</option>
		{% endfor %}
	</select></td>
	</tr>
	<tr>
	<td>&nbsp</td>
	<td>&nbsp</td>
	</tr>
	<tr>
	<td><h2>Categories:<h2></td>
	<td>&nbsp</td>
	<td><select name="category">
	  <option value="#">Select &emsp;&emsp;&emsp;&emsp;&nbsp&nbsp</option>		
  	  {% for row in categories %}
			<option value={{row[0]}}>{{row[1]}}</option>
		{% endfor %}
	</select></td>
	</tr>
	<tr>
	<td>&nbsp</td>
	<td>&nbsp</td>
	</tr>
	<tr>
	<td><h2>Enter Item ID:<h2></td>
	<td>&nbsp</td>
	<td><input type="text" placeholder="Enter 6 character id here" name="iid">
		<a href="keys" class="button1" role="button">Find new key</a>
	</td>
	</tr>
	<tr>
	<td>&nbsp</td>
	<td>&nbsp</td>
	</tr>
	<tr>
	<td><h2>Enter Brand:<h2></td>
	<td>&nbsp</td>
	<td><input type="text" placeholder="Enter text here" name="brand">
	</td>
	</tr>
	<tr>
	<td>&nbsp</td>
	<td>&nbsp</td>
	</tr>
	<tr>
	<td><h2>Enter Price:<h2></td>
	<td>&nbsp</td>
	<td><input type="text" placeholder="Enter text here" name ="price">
	</td>
	</tr>
	<tr>
	<td>&nbsp</td>
	<td>&nbsp</td>
	</tr>
	<tr>
	<td><h2>Enter Number of views(Annual):<h2></td>
	<td>&nbsp</td>
	<td><input type="text" placeholder="Enter text here" name="noviews">
	</td>
	</tr>
	<td>&nbsp</td>
	<td>&nbsp</td>
	</tr>
	<tr>
	<td><h2>Enter Sales(March):<h2></td>
	<td>&nbsp</td>
	<td><input type="text" placeholder="Enter sales here" name="salesmar">
	<td>&nbsp</td>
	<td>&nbsp</td>
	</tr>
	<tr>
	<td><h2>Enter Stars(March):<h2></td>
	<td>&nbsp</td>
	<td><input type="text" placeholder="Enter stars here" name="starsmar">
	</td>
	</tr>
	<td>&nbsp</td>
	<td>&nbsp</td>
	</tr>
	<tr>
	<td><h2>Enter Sales(June):<h2></td>
	<td>&nbsp</td>
	<td><input type="text" placeholder="Enter sales here" name="salesjun">
	<td>&nbsp</td>
	<td>&nbsp</td>
	</tr>
	<tr>
	<td><h2>Enter Stars(June):<h2></td>
	<td>&nbsp</td>
	<td><input type="text" placeholder="Enter stars here" name="starsjun">	</td>
	<td>&nbsp</td>
	</td>
	</tr>
	<td>&nbsp</td>
	<td>&nbsp</td>
	<tr>
	<td><h2>Enter Sales(September):<h2></td>
	<td>&nbsp</td>
	<td><input type="text" placeholder="Enter sales here" name="salessep">
	<td>&nbsp</td>
	<td>&nbsp</td>
	</tr>
	<tr>
	<td><h2>Enter Stars(September):<h2></td>
	<td>&nbsp</td>
	<td><input type="text" placeholder="Enter stars here" name="starssep">
	<td>&nbsp</td>
	</td>
	</tr>
	<td>&nbsp</td>
	<td>&nbsp</td>
	<tr>
	<td><h2>Enter Sales(December):<h2></td>
	<td>&nbsp</td>
	<td><input type="text" placeholder="Enter sales here" name="salesdec">
	<td>&nbsp</td>
	<td>&nbsp</td>
	</tr>
	<tr>
	<td><h2>Enter Stars(December):<h2></td>
	<td>&nbsp</td>
	<td><input type="text" placeholder="Enter stars here" name="starsdec">	</td>
	<td>&nbsp</td>
	</td>
	</tr>
	<td>&nbsp</td>
	<td>&nbsp</td>
	</table>
	<br><br>
	<input type="submit" item" class="button1" role="button" value="Go">
	&emsp;
	<a href="modify" class="button1" role="button">Back</a>
	</form>
	</center>
	<br><br><br>
</div>
<div id="stamp" class="container">
	<div class="hexagon"><span class="icon icon-wrench"></span></div>
</div>
<div id="copyright" class="container">
	<p>&copy; Animesh Mohan and Ch Ravi Raj. All rights reserved.</p>
</div>
</body>
</html>
