<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/default.css') }}">

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">View Result</a></h1>
			<span>A DBMS Project</span>
		</div>
		<div id="triangle-up"></div>
	</div>
</div>
<div id="menu-wrapper">
		<div id="menu">
			<ul>
				<li><a href="home" accesskey="3" title="">home</a></li>
				<li class="current_page_item"><a href="sites" accesskey="1" title="">Websites</a></li>
				<li><a href="categories" accesskey="2" title="">Our Categorisation</a></li>
				
				<li><a href="modify" accesskey="4" title="">Modify</a></li>
			</ul>
		</div>
</div>
<div id="wrapper">
	<br><br>
	<font size="5">
	<form action="#">
	<center>
	{% if funval == 0 %}
	<table border="1">
	<caption>Result of Query</caption>
	<tr>
	<th>Site Name</th>
	<th>Category Name</th>
	<th>Item ID</th>
	<th>Item Name</th>
	<th>Attribute Value</th>
	</tr>
	<tr>
	{% for row in tabval %}
			<tr>
				<td>{{row[0]}}</td>
				<td>{{row[1]}}</td>
				<td>{{row[2]}}</td>
				<td>{{row[3]}}</td>
				<td>{{row[4]}}</td>
			</tr>
	{% endfor %}
	</tr>
	</table>
	{% endif %}
	{% if funval == 1 %}
	<table border="1">
	<caption>Result of Query</caption>
	<tr>
	<th>Site Name</th>
	<th>Category Name</th>
	<th>Item ID</th>
	<th>Item Name</th>
	<th>Attribute Value</th>
	<th>Month</th>
	</tr>
	<tr>
	{% for row in tabval %}
			<tr>
				<td>{{row[0]}}</td>
				<td>{{row[1]}}</td>
				<td>{{row[2]}}</td>
				<td>{{row[3]}}</td>
				<td>{{row[4]}}</td>
				<td>{{row[5]}}</td>
			</tr>
	{% endfor %}
	</tr>
	</table>
	{% endif %}
	<br><br>
	<a href="analyser" class="button1" role="button">Back</a>
	</center>
	</form>
	</font>
	<br><br><br>
</div>
<div id="stamp" class="container">
	<div class="hexagon"><span class="icon icon-wrench"></span></div>
</div>
<div id="copyright" class="container">
	<p>&copy; Animesh Mohan and Ch Ravi Raj. All rights reserved.</p>
</div>
</body>
</html>
